<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="pathMap" type="java.util.Map<Boolean, List<PathWrapper>>"*/-->
<!--/*@thymesVar id="breadcrumbs" type="java.util.List<com.xhstormr.browse.entity.Breadcrumb>"*/-->
<!--/*@thymesVar id="direCount" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="fileCount" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="#dates" type="org.thymeleaf.expression.Dates"*/-->
<!--/*@thymesVar id="#numbers" type="org.thymeleaf.expression.Numbers"*/-->
<!--/*-->
[[${obj}]]
<!--*/-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${breadcrumbs.get(breadcrumbs.size()-1).text}"></title>
    <link th:href="@{/assets/main.css}" rel="stylesheet"/>
</head>
<body>
<svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg" height="0" width="0" style="position: absolute;">
    <defs>
        <g id="folder" fill="none">
            <path d="M285.22 37.55h-142.6L110.9 0H31.7C14.25 0 0 16.9 0 37.55v75.1h316.92V75.1c0-20.65-14.26-37.55-31.7-37.55z" fill="#FFA000"></path>
            <path d="M285.22 36H31.7C14.25 36 0 50.28 0 67.74v158.7c0 17.47 14.26 31.75 31.7 31.75H285.2c17.44 0 31.7-14.3 31.7-31.75V67.75c0-17.47-14.26-31.75-31.7-31.75z" fill="#FFCA28"></path>
        </g>
        <g id="file" stroke="#000" stroke-width="25" fill="#FFF" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
            <path d="M13 24.12v274.76c0 6.16 5.87 11.12 13.17 11.12H239c7.3 0 13.17-4.96 13.17-11.12V136.15S132.6 13 128.37 13H26.17C18.87 13 13 17.96 13 24.12z"></path>
            <path d="M129.37 13L129 113.9c0 10.58 7.26 19.1 16.27 19.1H249L129.37 13z"></path>
        </g>
    </defs>
</svg>
<header>
    <h1>
        <th:block th:each="crumb : ${breadcrumbs}"><a th:href="${crumb.link}" th:text="${crumb.text}"></a><th:block th:if="${!crumbStat.first}">/</th:block></th:block>
    </h1>
</header>
<main>
    <div class="meta">
        <div id="summary">
            <span class="meta-item"><b th:text="${direCount}"></b> director[[${direCount == 1 ? 'y' : 'ies'}]]</span>
            <span class="meta-item"><b th:text="${fileCount}"></b> file[[${fileCount != 1 ? 's' : ''}]]</span>
            <span class="meta-item"><input placeholder="过滤" id="filter" onkeyup='filter()'></span>
        </div>
    </div>
    <div class="listing">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th class="hideable">Modified</th>
            </tr>
            </thead>
            <tbody>

            <tr th:if="${breadcrumbs.size()!=1}">
                <td>
                    <a href="..">
                        <span class="name">Go up</span>
                    </a>
                </td>
                <td>&mdash;</td>
                <td class="hideable">&mdash;</td>
            </tr>

            <th:block th:each="entry : ${pathMap}">
                <th:block th:each="path : ${entry.value}">
                    <!--/*@thymesVar id="temp" type="com.xhstormr.browse.entity.PathWrapper"*/-->
                    <tr class="file">
                        <td>
                            <a th:switch="${path.dir}" th:href="${path.link}">
                                <svg th:case="true"  width="1.5em" height="1em" version="1.1" viewBox="0 0 317 259"><use xlink:href="#folder"></use></svg>
                                <svg th:case="false" width="1.5em" height="1em" version="1.1" viewBox="0 0 265 323"><use xlink:href="#file"></use></svg>
                                <span class="name" th:text="${path.name}"></span>
                            </a>
                        </td>

                        <!--/*<td th:text="${path.dir ? '&mdash;' : #numbers.formatDecimal(path.size/1024.0,1,'COMMA',1,'POINT')+' KB'}"></td>*/-->
                        <td th:text="${path.dir ? '&mdash;' : path.formatSize()}"></td>

                        <td class="hideable">
                            <time th:text="${#dates.format(path.date,'yyyy-MM-dd HH:mm:ss')}"></time>
                        </td>
                    </tr>
                </th:block>
            </th:block>

            <tr th:if="${@enableUpload}">
                <td colspan="3">
                    <form id="form" action="./" method="post" enctype="multipart/form-data">
                        <label for="uploadFile" id="box">选择文件进行上传</label>
                        <input  id="uploadFile" name="file" type="file" style="display: none;" onchange="document.getElementById('form').submit()">
                    </form>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</main>
<footer>
    © 2017 <a href="https://github.com/XhstormR">XhstormR</a>
</footer>
<script th:src="@{/assets/main.js}"></script>
</body>
</html>
